<br>
<div id="login-page" class="row">
  <div class="col s12 z-depth-6 card-panel">
    <form [formGroup]="fgValidation" (ngSubmit)="loginEvent()" class="login-form">
      <div class="row">
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail_outline</i>
          <input class="validate" id="username" type="email">
          <label for="username" data-error="wrong" data-success="right">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <input id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light blue col s12" type="submit">Login
          </button>
        </div>
      </div>
      <div class="row">

        <div class="input-field col s6 m6 l6">
          <p class="margin right-align medium-small"><a href="#">Forgot password?</a></p>
        </div>
      </div>

    </form>
  </div>
</div>
