<nav>
  <div class="nav-wrapper  brown darken-3" >
    <a routerLink="/home" class="brand-logo">Home</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/security/login">Login</a></li>
      <li><a routerLink="/security/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/security/login">Login</a></li>
  <li><a routerLink="/security/logout">Logout</a></li>
</ul>
